@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    Prime numbers are:
    <table class="table">
        <tr>
            <th>Number</th>
            <th>Fibonacci</th>
            <th>Mersenne</th>
        </tr>
        @foreach (var number in Model.Primes)
        {
            <tr>
                <td>
                    @number.Number
                </td>
                <td>
                    @if (number.IsFibonacciPrime)
                    {
                        <span>✓</span>
                    }
                </td>
                <td>
                    @if (number.IsMersenne)
                    {
                        <span>✓</span>
                    }
                </td>
            </tr>
        }
    </table>
</div>
